body {
   
    margin: auto !important;
  }
  
  .main-container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    
   /* Added padding for better spacing */
  }
  
  .grid {
    display: grid;
    gap: 10px;
  }
  
  .grid-template-columns {
   
    grid-template-columns: repeat(3, 1fr);
   
  }
  
  .cards {
    border: 1px solid black;
    background-color: burlywood;
    color: black;
    height: 200px;
    width: 300px;
    margin: auto !important;
    margin-top: 20px;
    text-align: center !important; /* Added to center content */
  }
  p{
    margin-top: 2rem !important;
    font-weight: bold;
    font-size: large;
  }
  
  button {
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 10px !important;
    
  }
  
  h2 {
    text-align: center;
    color: white !important;
  }
  
  
  
  @media (max-width: 768px) {
    .grid-template-columns {
      grid-template-columns: repeat(2, 1fr);
    }
    .cards {
        border: 1px solid black;
        background-color: burlywood;
        color: black;
        height: 200px;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        text-align: center; /* Added to center content */
      }
      button {
        background-color: black;
        color: white;
        border-radius: 50%;
        margin-top: 20px;
        width:auto
      }
  }
  
  @media (max-width: 580px) {
    .grid-template-columns {
      grid-template-columns: repeat(1, 1fr);
    }
    .cards {
        border: 1px solid black;
        background-color: burlywood;
        color: black;
        height: 200px;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        text-align: center; /* Added to center content */
      }
      button {
        background-color: black;
        color: white;
        border-radius: 50%;
        width:auto
        
        
      }
  }
  
  